{
  "printWidth": 100,
  "tabWidth": 2,
  "parser": "typescript",
  "singleQuote": true,
  "trailingComma": "es5",
  "useTabs": false,
  "endOfLine": "lf",
  "importOrder": [
    "^@core/(.*)$",
    "^@server/(.*)$",
    "^@ui/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrderSortSpecifiers": true
}